@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;500;900&family=Outfit:wght@300;500&display=swap');

:root {
    /* colors */
    --clr-brown: #D5966C;
    --clr-black: #151515;
    --clr-gray: 0 0% 26.67%;
    --clr-white: #fff;

    /* font-sizes */
    --fs-700: 6rem;
    --fs-600: 4.375rem;
    --fs-500: 3.75rem;
    --fs-450: 3.125rem;
    --fs-400: 2.25rem;
    --fs-375: 2rem;
    --fs-350: 1.5rem;
    --fs-300: 1.375rem;
    --fs-200: 1.125rem;
    --fs-100: 1rem;

    /* line-spacing */
    --ls-600: 5.5rem;
    --ls-500: 4.375rem;
    --ls-400: 3.125rem;
    --ls-300: 2.25rem;
    --ls-200: 2rem;
    --ls-100: 1.75rem;

    /* font-families */
    --ff-outfit: 'Outfit', sans-serif;
    --ff-bigSD: 'Big Shoulders Display', cursive;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
section,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300;
}

/* set up the body */
body {
    font-family: var(--ff-bigSD);
    line-height: 1.5;
    min-height: 100vh;
    font-size: var(--fs-100);
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.main-container {
    margin-inline: auto;
    margin-top: 6em;
    margin-bottom: 7em;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

/* colors */

.bg-accent { background-color: var(--clr-brown);}
.bg-dark { background-color: var(--clr-black);}
.bg-gray { background-color: hsl(var(--clr-gray) / 1);}
.bg-white { background-color: var(--clr-white);}

.text-dark { color: var(--clr-black);}
.text-accent { color: var(--clr-brown);}
.text-white { color: var(--clr-white);}
.text-gray { color: hsl(var(--clr-gray) / 1);}

/* typography */

.ff-BSDB { font-family: var(--ff-bigSD);}
.ff-outfit-light { font-family: var(--ff-outfit);}

.uppercase { text-transform: uppercase; }

.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-450 { font-size: var(--fs-450); }
.fs-400 { font-size: var(--fs-400); }
.fs-375 { font-size: var(--fs-375); }
.fs-350 { font-size: var(--fs-350); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }

.fw-300 { font-weight: 300;}
.fw-500 { font-weight: 500;}
.fw-900 { font-weight: 900;}

.ls-100 { line-height: var(--ls-100);}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.headings {
    color: hsl(var(--clr-gray) / .5);
    font-size: var(--fs-400);
    text-transform: uppercase;
    margin-top: 3em;
    font-weight: 900;
}

.main-headings {
    text-transform: uppercase;
    font-weight: 900;
    line-height: .90;
    padding-bottom: .5em;
}

.main-grid {
    justify-items: center;
    grid-template-columns: 100%;
    max-width: 343px;
    margin: 0 auto;
}

.galleryDay-text {
    grid-row: 2 / 3;
    padding: 1em 0;
}

.bottom-grid-text {
    padding: 3em 1.75em;
}

@media screen and (min-width:700px){
    .main-grid {
        max-width: 80%;
        grid-template-columns: 50% 8% 50%;
    }

    .grid {
        gap: .9rem;
    }

    .galleryDay-text {
        padding-right: 4.5em;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-item2{
        grid-column: 2/4;
        justify-self: start;
    }

    .grid-item2 img {
        object-fit: cover;
    }

    .grid-item3 {
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .grid-item3 img {
        object-fit: cover;
    }

    .grid-item4 {
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: start;
    }

    .grid-item4 img {
        object-fit: cover;
    }

    .bottom-grid-text {
        grid-column: 3/4;
        grid-row: 3/4;
    }
}

.banner {
    justify-content: space-between; 
    padding: 3em 6em;
}

.p-text {
    padding-bottom: 1.5em;
}

.p-text-top {
    padding-top: 1.5em;
}

/* Hero Section */

.hero-content {
    padding-top: 2em;
    max-width: 343px;
    margin: 0 auto;
}

/* This ensures the hero image always fills the width of the mobile screen sizes */
.hero-image img {
    width: 100%;
}

/* Tablet querie for the hero section */
@media screen and (min-width:700px){
    .hero-section{
        display: grid;
        grid-template-columns: 48% 5% 100%;
        width: 100%;
    }

    .hero-image {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .hero-content {
        grid-column: 2 / 4;
        grid-row: 1;
        justify-self: start;
        align-self: center;
        z-index: 1;
        max-width: 355px;
        padding-top: 0;
        margin: 0;
    }

    .hero-content h1 {
        font-size: var(--fs-600);
        padding-bottom: .8em;
    }

    .hero-content p {
        padding-bottom: 2.5em;
    }
}

.location {
    padding: 2em 1em 3em 1em;
}

.location-address {
    padding-top: 2em;
}

.location-map {
    background-image: url('assets/mobile/image-map.png');
    background-size: cover;
    height: 62vh;
}

footer {
    padding: 3em 2em;
}

footer p {
    padding: 2em 0;
}

.dark-icon{
    filter: invert(100%) sepia(14%) saturate(412%) hue-rotate(42deg) brightness(77%) contrast(84%);
}

@media screen and (min-width:700px){
    footer {
        display: flex;
        justify-content: space-between;
    }

    footer p {
        width: 45%;
        padding: 0;
    }

    .footer-icons img {
        height: 20px;
        width: 20px;
    }
}

/* Buttons */
.btn-1,
.btn-2 {
    text-transform: uppercase;
    color: var(--clr-white);
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 3.65px;
    position: relative;
    display: inline-block;
    font-size: var(--fs-200);
    transition: 0.3s;
}

.btn-1 {
    padding-left: 1.5em;
    background-color: var(--clr-black);
}

.btn-2 {
    padding-right: 1.5em;
    background-color: var(--clr-brown);
}

.btn-1 img,
.btn-2 img {
    display: inline-block;
    vertical-align: middle;
    padding: 1.35em 1.3em;
    height: 100%;
    transition: 0.3s;
}

.btn-1 img {
    margin-left: 1.5em;
    background-color: var(--clr-brown);
}

.btn-2 img {
    margin-right: 1.5em;
    background-color: var(--clr-black);
}

.btn-2:hover,
.btn-2:focus,
.btn-1:hover img,
.btn-1:focus img{
    background-color: var(--clr-black);
}

.btn-1:hover,
.btn-1:focus,
.btn-2:hover img,
.btn-2:focus img{
    background-color: var(--clr-brown);
}

/* Media Queries Start */

/* Gives a bit of padding on the sides for the tiny mobile screen sizes */
@media screen and (max-width: 365px) {
    .main-container,
    .hero-content {
        padding-inline: 1em;
    }
}

@media screen and (max-width:600px) {
    .banner {
        padding: 1.5em 2em;
    }

    .banner p{
        line-height: 2 !important;
        text-align: center;
    }

    #btn-container {
        flex-wrap: wrap;
        gap: 4rem;
    }

}

@media screen and (max-width:768px){
    #typography-content{
        flex-direction: column;
    }
    #typography-2nd-div {
        margin-top: 3rem;
    }
}