@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300;500&display=swap');

:root {
    /* colors */
    --clr-brown: #D5966C;
    --clr-black: #151515;
    --clr-gray: 0 0% 26.67%;
    --clr-white: #fff;

    /* font-sizes */
    --fs-700: 6rem;
    --fs-600: 4.375rem;
    --fs-500: 3.75rem;
    --fs-400: 2.25rem;
    --fs-300: 1.375rem;
    --fs-200: 1.125rem;

    /* line-spacing */
    --ls-600: 5.5rem;
    --ls-500: 4.375rem;
    --ls-400: 3.125rem;
    --ls-300: 2.25rem;
    --ls-200: 2rem;
    --ls-100: 1.75rem;

    /* font-families */
    --ff-outfit: 'Outfit', sans-serif;
    --ff-bigSD: 'Big Shoulders Display', cursive;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
section,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300;
}

/* set up the body */
body {
    font-family: var(--ff-bigSD);
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

/* colors */

.bg-accent { background-color: var(--clr-brown);}
.bg-dark { background-color: var(--clr-black);}
.bg-gray { background-color: hsl(var(--clr-gray) / 1);}
.bg-white { background-color: var(--clr-white);}

.text-dark { color: var(--clr-black);}
.text-accent { color: var(--clr-brown);}
.text-white { color: var(--clr-white);}
.text-gray { color: hsl(var(--clr-gray) / 1);}

/* typography */

.ff-BSDB { font-family: var(--ff-bigSD);}
.ff-outfit-light { font-family: var(--ff-outfit);}

.uppercase { text-transform: uppercase; }

.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fw-300 { font-weight: 300;}
.fw-500 { font-weight: 500;}

.headings {
    color: hsl(var(--clr-gray) / .5);
}

.banner {
    justify-content: space-between; 
    padding: 3em 6em;
}

@media screen and (max-width:600px) {
    .banner {
        padding: 1.5em 2em;
    }

    .banner p{
        line-height: 2 !important;
        text-align: center;
    }
}